<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PensionScheme.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Kasun\source\WebSites\WebSite4\App_Data\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PensionScheme.Properties.Settings.PensionSchemeConnectionString"
            connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=PensionScheme;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PensionScheme.Properties.Settings.MySqlConnectionString"
            connectionString="server=localhost;user id=root;database=pensionscheme"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>